.active-buttons {
  display: flex;
  gap: 1rem;

  button {
    padding: 0.8rem 1.2rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    border: none;
    color: var(--button-text-color);
    font-weight: bold;

    &:hover {
      background-color: var(--button-active-color-100);
    }
    &:active {
      background-color: var(--button-active-color-200);
    }
  }

  .week-button {
    margin-left: 5px;
  }
}

.change-button {
  padding: 0.3rem 1.2rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  border: none;
  color: bisque;
  font-weight: bold;
}

.delete-button {
  background-color: var(--button-delete-color);
  color: var(--text-color);
  border: none;
}

.week-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;

  h1 {
    font-weight: bold;
    font-size: 1.5rem;

    color: var(--main-color);
  }
}
.week-buttons {
  display: flex;
  gap: 1rem;
  .week-select {
    background-color: var(--select-week-color);
    color: rgb(0, 0, 0);
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: var(--select-week-hover-color);
    }
  }

  .selected-week {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--main-color);
    margin: 0 1rem;
  }
}

.add-truck {
  background: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--button-add-truck-hover);
  }
}
