.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h1 {
      font-weight: bold;
      font-size: 2rem;
      color: var(--main-color);
    }
  }
}

.truckTable {
  margin: 1rem auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  th {
    background-color: var(--main-color);
    color: white;
  }
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
  }

  tr {
    &:hover {
      background-color: var(--table-row-color);
    }
  }

  textarea {
    width: 100%;
    max-width: 120px;
    height: 100%;
    min-height: 1em;
    font-size: 0.9rem;
    resize: vertical;
    overflow-y: auto;
  }

  .change-input {
    max-width: 100px;
    font-weight: bolder;
  }

  .with-input {
    background-color: var(--input-color);
    color: var(--input-text-color);

    &:hover {
      background-color: var(--hover-color);
      color: var(--text-color);
    }
  }
}

.tableWrapper {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

// TODO: Fix this
@media screen and (max-width: 900px) {
  .tableWrapper {
    padding: 1rem;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .truckTable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    thead {
      width: 1.5rem;

      tr {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 2rem;
        th {
          height: 50px;
        }
      }
    }
    tr {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    tbody {
      display: flex;
      max-width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
