.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h1 {
      font-weight: bold;
      font-size: 2rem;

      color: rgb(52, 52, 156);
    }
  }
}

.truckTable {
  margin: 1rem auto;
  border-collapse: collapse;

  th {
    background-color: rgb(52, 52, 156);
    color: white;
  }
  th,
  td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  input {
    overflow: auto;
    resize: vertical;
    width: 100px;
  }
  .change-input {
    width: 100px;
  }
  // !CHANGE Pakeist Spalva
  .with-input {
    background-color: bisque;
  }
}
